[submodule "dep/Nine.Common"]
	path = dep/Nine.Common
	url = https://github.com/yufeih/Nine.Common
[submodule "dep/Nine.Formatting"]
	path = dep/Nine.Formatting
	url = https://github.com/yufeih/Nine.Formatting
